extends layout

block content
	script(src="/socket.io/socket.io.js")
	script.
		var users = [];
		var socket = io();
		socket.on('connect', () => {
		console.log("user goes to the room")
		socket.emit("joinGame", "#{username}" , "#{id}" )
		socket.emit("switchRoom", "#{id}" )

		socket.on('updateUserGame', function (data) {
		$('#conversation').append('<p>' + data + '<p>'); });

		socket.on('updateChat', function (username, data) {
		$('#conversation').append('<p>'+username + ':' + data + '<p>'); });


		} );

		$(function(){
		// when the client clicks SEND
		$('#datasend').click( function() {
			var message = $('#data').val();
			$('#data').val('');
			// tell server to execute 'sendchat' and send along one parameter
			socket.emit('sendChat', message);
		});

		$('#quitRoom').click( function() {
		console.log("I click")
		// tell server to execute 'sendchat' and send along one parameter
		$(location).attr('href', '/games/quit')
		socket.emit("switchRoom", "lobby" )

		});  
		});

		

	div.navbar
		ul
			li 
				p Game room #{id} 
			li 
				a( id ="quitRoom") Quit

	div.game
			section
				div.seats
					div.player1
						div.chair
							div.chair-name #{username}
							div.chair-money $100
							div.cardBox
								div.card
									img.image(src='/images/PNG/2C.png' style ='height:60px ' )
								div.card
									p.card-text.black Q
									p.card-img.black ♠️
					div.player2
						div.chair
							div.chair-name Person 2
							div.chair-money $100
							div.cardBox
								div.card
									p.card-text.black 10
									p.card-img.black ♠️
								div.card
									p.card-text.black 9
									p.card-img.black ♠️
					div.player3
						div.chair
							div.chair-name Person 3
							div.chair-money $100
							div.cardBox
								div.card-blank
								div.card-blank
					div.player4
						div.chair
							div.chair-name Person 4
							div.chair-money $100
							div.cardBox
								div.card-blank
								div.card-blank
					div.player5
						div.chair-empty
							div.chair-name SIT
					div.player6
						div.chair
							div.chair-name Person 6
							div.chair-money $100
							div.cardBox
								div.card-blank
								div.card-blank
				div.table
					div.board
						// Spade -> ♠️; Heart -> ❤️; Club -> ♣️; Diamond -> ♦️
						div.card
							p.card-text.black A
							p.card-img.black ♠️
						div.card
							p.card-text.black K
							p.card-img.red ❤️
						div.card
							p.card-text.black Q
							p.card-img.black ♣️
						div.card
							p.card-text.black J
							p.card-img.red ♦️
						div.card
							img.image(src='/images/PNG/2C.png' style ='height:70px' )
			

							
			article
				div.log
					div.logContent
						div
							p#conversation
				div.chatbox
					label(for='message')
					input(type='message', name='message', id = 'data')
					button(type='submit' ,id ='datasend') send

			div.responses
				ul
					li
						button(type='submit') FOLD
					li
						button(type='submit') CHECK
					li 
						button(type='submit') CALL X
					li 
						button(type='submit') CALL ANY
					li
						button(type='submit') RAISE X
					li
						input(type='range' min="1" max="100" value="1")
